/* ------ datos-----*/

div.formulario-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 80px 0px 0px 400px;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #2ad2277b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #1ab847bd;
}

/* stylos listado */


table {
  width: 1440px;
  margin: 20px;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 5px solid rgba(0, 0, 0, 0.1);
}


table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
}
table th{
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #1fc9249b;
}



button {
  padding: 5px 10px;
  background-color: #fa070794;
  color: #fff;
  border: none;
  cursor: pointer;
}




